body {
  background: gainsboro;
}

h1 {
  text-align: center;
}

footer {
  width: 100%;
  max-width: 960px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: rgb(116, 116, 116);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer h2 {
  font-size: 20px;
}

footer p {
  color: rgb(154, 153, 153);
}
